.container{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.lettre{
    text-align: center;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    padding: 7px;
    font-size: 20px;
    position: relative;
}

.code{
    display: block;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    margin-left: 4px;
}

.highlight{
    background-color: yellow;
}