th{
    border: solid 1px black;
    padding:5px;
    text-align: center;
}

td{
    border: solid 1px black;
    padding:5px;
    text-align: center;
}

table{
    border-collapse: collapse;
}

.highlight{
    background-color: yellow;
}
.disabled{
    background-color: #F0F0F0;
    color: #666;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}